
body {
    background-color: var(-#f4f4f4);
    font-family: Arial, sans-serif;
}

header {
    background-color: white;
    border-bottom: 2px solid var(#5a0035);
}

.navbar a.nav-link,
.navbar a.navbar-brand {
    color: white !important;
    font-weight: bold;
}

footer {
    background-color: white;
    border-top: 2px solid var(#5a0035);
}
